/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

DealGator Green             dgg              #156903

*/


html{
	background:#FFFFFF
}


body{
	margin:0; 
	background:#151515; 
	font-family:Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

*{
	margin:0; 
	padding:0;
}

a{
	outline:0; 
	text-decoration:none;
	color: #009ee4;
}

a:hover{
	text-decoration: underline;
} 

img{
	border:0;
}
h1,h2,h3,h4,h5,h6	{
	font-weight:normal;
}

li{
	list-style:none;
}


h1.title{
	width:126px; 
	height:30px; 
	margin:4px 0 0 20%;
	float:left; 
	
	font-family: 'Lato', sans-sarif;
	font-weight: 100;
	letter-spacing: -2.5px;
	/*background:url(../images/title_white.png) no-repeat;*/
}
	
h1.title a{
	width:100%; 
	height:100%;
	color: #FFFFFF;
	float:left; 
}
h1.title a:hover{
	text-decoration:none;
}
h1.about{
	width:126px; 
	height:30px; 
	float:right;
	margin:4px 20px 0 0; 
	
	font-family: 'Lato', sans-sarif;
	font-weight: 100;		
	letter-spacing: -2.5px;
	/*background:url(../images/about.png) no-repeat; background-size:90% 90%;*/
}
h1.about a{
	width:100%;
	height:100%; 
	float:right; 
	color: #ffffff;
	/*text-indent:-9999px;*/
}

h1.about a:hover{
	text-decoration:none;
}

h1.signin{
	width:82px;
	height:32px; 
	float:right; 
	margin:4px 20% 0 0;
	font-family: 'Lato', sans-sarif;
	font-weight: 100;
	letter-spacing: -2.5px;
	/*background:url(../images/signin.png) no-repeat; 
	background-size:90% 90%;*/
}
h1.signin a{
	width:100%;
	height:100%; 
	float:right; 
	color: #ffffff;
	/*text-indent:-9999px;*/
}

h1.signin a:hover{
	text-decoration:none;
}


#nav{
	width: 100%;
	height:49px;
	position:relative;
	background:url(../images/navBg.png) repeat-x;
	background-size: 100% 49px;
}

/******************************************************************************
* Content
******************************************************************************/

#content{
	width: 100%;
	position: relative;
	padding-bottom:30px;
	background-color: #156903;
}

#searchBar{
	width: 570px;
	height: 50px;
	left: 50%;
	margin: 0 0 20px -285px;
	padding-top: 30px;
	position: relative;
}

#searchBar input.txt{
	width:500px; 
	height:42px;
	padding: 0px 10px 0px 10px;
	font-size:22px; 
	font-family: 'Lato', sans-serif;
	color:#000000; 
	border:0;
	
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1.5px solid rgba(0,0,0, 0.2);
 }
 
 #searchBar input.txt:focus{
	box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(51, 102, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    border:1.5px solid rgba(51, 102, 255, 0.8); 
}

#searchBar input.searchBtn{
	width: 70px;
	height: 45px;
	position:absolute; 
	float:left;
	border:0; 
	cursor:pointer; 
	float: right;
	background:url(../images/searchBtn.png) no-repeat;
}

#searchBar input.searchBtn:active{
	background-position:2px 2px;
}


/*************************************************************************
* Results
*************************************************************************/
#results{
	width: 60%;
	margin: 0 auto;
	padding-top:10px;
	background: #ffffff;
}
#results h1{
	font-family: "Lato", sans-serif;
	color:#000000;
	text-align:center;
	margin-bottom:10px;
}
#results_img{
	width:100px;
	height:100px;
	margin:0 auto;
}
#results table{
	padding:30px;
}

#results table, th, td{
	border-collapse: collapse;
	border: 1px solid black;
	padding:5px 0;
}

#results th.header {   
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding: 4px 10px; 
    /*border-right: 1px solid #dad9c7; */
    margin-left: -1px; 
} 

#results table thead tr .header {
	background-image: url(../images/sort/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#results table thead tr .headerSortUp {
	background-image: url(../images/sort/asc.gif);
}
#results table thead tr .headerSortDown {
	background-image: url(../images/sort/desc.gif);
}
#results_icon{
	height: 50x;
	width: 50px;
	padding-bottom:2px;
	margin: 0 auto;
}
#results_icon_small{
	height: 20px;
	width: 20px;
	margin: 0 auto;
}
#results span{
	padding-left: 2px;
	font-size: 12px;
	text-align:center;
}

/******************************************************************************
* Login
******************************************************************************/
#login{
	width: 100%;
	height:400px;
	margin-top: -2px;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff url(../images/contentBg.png) repeat-x;
}

#login_form{
	width: 450px;
	height:300px;
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
}

#login_form h4{
	width: 400px;
	float:left;
	margin-top: 10px;
	margin-left: 5px;	
	text-align: left;
	font-size:20px;
	color: #5a5a5a;
}

#login_form h5{
	width: 400px;
	text-align: left;
	font-size:24px;
	color: #5a5a5a;
	border-bottom:#c9c9c9 solid 1px;
}

#login_form span{
	color: #009ee4;
	float:right;
	margin-top: 10px;
	text-align:right;
	font-size: 12px;
}

#login_form input.loginBtn{
	width: 90px; 
	height: 32px;
	margin-top: 10px;
	float: right;
	border:0;
	background:url(../images/loginBtn.png) no-repeat;
 }

#login_form h6{
	color: #999999;
	margin-left: 10px;
	font-size: 21px;
	padding-top: 35px;
	padding-bottom: 6px;
	padding-right: 12px;
	float:left;
	text-align:left;

}

#login_form h7{
	color: #009ee4;
	float:left;
	margin-top: 2px;
	margin-left: 5px;
	text-align:left;
	font-size: 12px;
}

#divider{
	width: 400px;
	margin-top: 20px;
	float: left;
	border-bottom:#c9c9c9 solid 1px;
}

#login_form input.txt{
	width:250px; 
	height:30px;
	margin-top: 10px;
	float: right;
	padding: 0px 10px 0px 10px;
	font-size:22px; 
	
	font-family: 'Lato', sans-serif;
	color:#000000; 
	border:0;
	
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1.5px solid rgba(0,0,0, 0.2);
 }
 
 #login_form input.txt:focus{
	box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(51, 102, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    border:1.5px solid rgba(51, 102, 255, 0.8); 
}


/*******************************************************************************
* Contact Us
*******************************************************************************/
#Contact{
	width: 100%;
	height:400px;
	margin-top: -2px;
	background:#ffffff url(../images/contentBg.png) repeat-x;
}

#contact_form{
	width: 700px;
	height:300px;
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

#contact_form h4{
	width: 400px;
	float:left;
	margin-top: 20px;
	margin-left: 5px;	
	text-align: left;
	font-size:20px;
	color: #5a5a5a;
}

#contact_form h5{
	width: 400px;
	text-align: left;
	margin: 0 auto;
	font-size:24px;
	color: #5a5a5a;
	border-bottom:#c9c9c9 solid 1px;
}

#contact_form span{
	color: #009ee4;
	float:right;
	margin-top: 10px;
	text-align:right;
	font-size: 12px;
}

#contact_form h6{
	color: #999999;
	margin-left: 160px;
	font-size: 22px;
	margin-top: 25px;
	float:left;
	text-align:left;
	
}

#contact_form h7{
	color: #999999;
	margin-left: 160px;
	font-size: 22px;
	margin-top: 120px;
	float:left;
	text-align:left;
	position:absolute;
	
}

#contact_form input.txt{
	width:250px; 
	height:30px;
	margin-top: 60px;
	margin-left:160px;
	float: center;
	padding: 5px 0px 0px 5px;
	font-size:22px; 
	font-family: 'Lato', sans-serif;
	color:#000000; 
	border:0;
	position:absolute;
	
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1.5px solid rgba(0,0,0, 0.2);
 }
 
#contact_form input.txt:focus{
	box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(51, 102, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    border:1.5px solid rgba(51, 102, 255, 0.8); 
}

 #contact_form textarea.txt2{
	width:400px; 
	height:100px;
	margin-top: 150px;
	margin-left:160px;
	float: center;
	padding: 5px 0px 0px 5px;
	font-size:14px; 
	font-family: 'Lato', sans-serif;color:#000000; 
	border:0;
	position:absolute;
	
	
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1.5px solid rgba(0,0,0, 0.2);
 }
 
 #contact_form textarea.txt2:focus{
	box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(51, 102, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    border:1.5px solid rgba(51, 102, 255, 0.8); 
}
 
 #contact_form input.sendBtn{
	width: 150px;
	height: 30px;
	margin-top:275px;
	margin-left:-150px;
	position:absolute; 
	float:left;
	border:0; 
	cursor:pointer; 
	background:url(../images/submitBtn.png) no-repeat;
}

/******************************************************************************
* SignUp
******************************************************************************/
#signup{
	width: 100%;
	padding-bottom: 50px;
	margin-top:-2px;
	background:#ffffff url(../images/contentBg.png) repeat-x;
}

#signup_form{
	width: 400px;
	height:300px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding-top:40px;
}

#signup_form h4{
	width: 300px;
	float:left;
	margin-top: 10px;
	margin-left: 5px;	
	text-align: left;
	font-size:20px;
	color: #5a5a5a;
}

#signup_form h5{
	width: 400px;
	text-align: left;
	font-size:24px;
	color: #5a5a5a;
	border-bottom:#c9c9c9 solid 1px;
}

#signup_form span{
	color: #009ee4;
	float:right;
	margin-top: 10px;
	text-align:right;
	font-size: 12px;
}

#signup_form input.sendBtn{
	width: 90px;
	height: 30px;
	margin-top: 20px;
	position:relative; 
	float:right;
	border:0; 
	cursor:pointer; 
	background:url(../images/submitBtn.png) no-repeat;
}

#signup_form h6{
	color: #999999;
	margin-left: 20px;
	margin-top:12px;
	font-size: 22px;
	float:left;
	text-align:left;
	
}

#signup_form h7{
	color: #009ee4;
	float:left;
	margin-top: 2px;
	margin-left: 5px;
	text-align:left;
	font-size: 12px;
}


#signup_form input.txt{
	width:220px; 
	height:30px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0px 10px 0px 10px;
	font-size:22px; 
	color:#000000; 
	border:0;
	font-family: "Lato", sans-serif;
	float: right;
	
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1.5px solid rgba(0,0,0, 0.2);
 }
 
#signup_form input.txt:focus{
	box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(51, 102, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(51, 102, 255, 1);
    border:1.5px solid rgba(51, 102, 255, 0.8); 
}

/******************************************************************************
* Featured
******************************************************************************/

#featured{
	width: 100%;
	height:250px;
	position: relative; 
	padding: 10px 0 0 0;
}
#featured_main{
	width:500px;
	height:250px;
	position: relative;
	left: 50%;
	margin-left: -400px;
}			
#featured_top{
	width:300px;
	height: 124px;
	position: relative;
	left: 50%;
	padding-bottom: 127px;
}		
#featured_bottom{
	width:300px;
	height: 124px;
	position: relative;
	left: 50%;
	margin: 0 0 0 -304px;
}
/*************************************************************************
*About Us
*************************************************************************/
#about_head{
	width: 100%;
	position: relative;
	margin-top: -2px;
	background-color: #156903;
	padding-bottom:15px;
}
#about_head h1{
	text-align:center;
	width: 500px;
	margin: 0 auto;
	padding-top:10px;
	font-size:64px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 2px 1px #156100;
	font-weight:300px;
	letter-spacing:-4px;
	
	border-bottom:#c9c9c9 solid 1px;
	-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;
}
#about_head_text{
	width: 700px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #156903;
}
#about_head_text h4{
	text-align:center;
	marin-left:50px;
	font-size:20px;
	color:#ffffff;
	font-family: 'Droid Sans', sans-serif;
	text-shadow: 0 2px 1px #156903;
	
	-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility
}

#about{
	width: 100%;
	position:relative;
	background:#ffffff url(../images/contentBg.png) repeat-x;
}
#about_pan{
	padding-bottom:20px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}
#about_pan h1{
	text-align:center;
	text-decoration:underline;
	font-weight: bold;
	margin-top:10px;
	margin-left:50px;
	font-size:35px;
	font-family: 'Lato', sans-serif;
}
#about_pan h2{
	text-align:center;
	text-decoration:underline;
	font-weight: bold;
	margin-top:10px;
	margin-left:50px;
	font-size:30px;
	font-family: 'Lato', sans-serif;
}
#about_pan h3{
	text-align:center;
	margin-top:150px;
	marin-left:50px;
	padding-top:10px;
	/*text-align:center;*/
	margin-top:10px;
	marin-left:10px;
	font-size:25px;
}
#about_pan h4{
	text-align:center;
	margin-top:10px;
	margin-left:50px;
	font-size:20px;
}
#about_pan_pic{
	width:150px;
	height:150px;
	margin:0 auto;
	margin-top:10px;
}
#about_pan h5{
	width:200px;
	float:left;
	text-align:center;
	margin-left:70px;
	font-size:15px;
}

#about_pan table{
	margin:0 auto;
	padding-bottom:50px;
	width:800px;
	border:none;
}
#about_pan th, #about_pan td{
	width:400px;
	height:50px;
	border:none;
	text-align:center;
}
#about_pan li{
	padding-top:6px;
}
#about_pan a{
	color: #000000;

}

/*************************************************************************
*Frequently Asked Question
*************************************************************************/
#faq_head{
	width: 100%;
	position: relative;
	margin-top: -2px;
	background-color: #156903;
	padding-bottom:15px;
}
#faq_head h1{
	text-align:center;
	width: 700px;
	margin: 0 auto;
	padding-top:10px;
	font-size:64px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-shadow: 0 2px 1px #156100;
	font-weight:300px;
	letter-spacing:-4px;
	
	border-bottom:#c9c9c9 solid 1px;
	-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;
}
#faq_head_text{
	width: 700px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #156903;
}
#faq_head_text h4{
	text-align:center;
	marin-left:50px;
	font-size:20px;
	color:#ffffff;
	font-family: 'Droid Sans', sans-serif;
	text-shadow: 0 2px 1px #156903;
	
	-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility
}

#faq{
	width: 100%;
	position:relative;
	background:#ffffff url(../images/contentBg.png) repeat-x;
}
#faq_pan{
	padding-bottom:20px;
	width:800px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}
#faq_pan h1{
	text-align:center;
	text-decoration:underline;
	font-weight: bold;
	margin-top:10px;
	margin-left:50px;
	font-size:35px;
	font-family: 'Lato', sans-serif;
}
#faq_pan h2{
	text-align:center;
	text-decoration:underline;
	color:#159F03;
	font-weight: bold;
	margin-top:10px;
	margin-left:50px;
	font-size:30px;
	font-family: 'Lato', sans-serif;
}
#faq_pan h3{
	text-align:center;
	margin-left:50px;
	padding-top:10px;
	padding-bottom:40px;
	/*text-align:center;*/
	margin-left:10px;
	font-size:22px;
}
#faq_pan h4{
	text-align:center;
	margin-top:10px;
	margin-left:50px;
	font-size:20px;
}

#faq_pan h5{
	width:200px;
	float:left;
	text-align:center;
	margin-left:70px;
	font-size:15px;
}

#faq_pan table{
	margin:0 auto;
	padding-bottom:50px;
	width:800px;
}
#faq_pan th,td{
	width:400px;
	height:50px;
	text-align:center;
}
#faq_pan li{
	padding-top:6px;
}

/*************************************************************************
* Welcome
*************************************************************************/

#welcome{
	width:100%; 
	float:left;
	/*background:#ffffff url(../images/contentBg.png) repeat-x;*/
}

#welcome_pan{
	width:527px; 
	margin:20px auto;
	padding-bottom:15px;
	/*background: url(../images/welcome.png) no-repeat;*/
	border-bottom:#c9c9c9 solid 1px;
}

#welcome_pan h1{
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #000000;
	letter-spacing: -2px;
	text-decoration: none;
}

#welcome_pan h2{
	text-align: center;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: 16px;
	color: #707070;
	margin: 5px 20px;
	text-decoration: none;
}


/*************************************************************************
* Footer
*************************************************************************/
#foot{
	width:100%;
	height:100px; 
	float:left;
	padding-top: 10px;
	position:relative;
}

#foot_text{
	width:200px; 
	margin:0 0 0 5%;
	float:left;
}

#foot h6{
	width:126px; 
	height:30px; 
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 28px;
	letter-spacing: -2.5px;
	/*text-indent:-9999px;
	background:url(../images/title_green.png) no-repeat;*/
}
#foot h6 a{
	color: #159F03;
}
#foot h6 a:hover{
	text-decoration:none;
}

#foot ul li{
	width:auto;
	float:left;
	font-size:14px; 
	line-height:18px;
}

#foot ul li a{
	width:auto; 
	float:left; 
	color:inherit;
}

#foot ul li.space{
	width:auto; 
	float:left;
	padding:0 6px;
}

#foot p{
	width:100%; 
	margin-top:3px; 
	float:left; 
	font-size:14px; 
	line-height:14px;
	text-align:left;
}


#foot_chomped{
	width:250px;
	float:right;
	margin: 0 5% 0 0;
}
#foot_gator{
	margin-top: 5px;
	width: 125px;
	height: 50px;
	float: left;
}

#foot_chompedNum{
	margin-top:10px;
	font-size:34px; 
	line-height:34px;
	text-align:right;
}

#foot_chompedText{
	font-size:12px; 
	line-height:12px;
	text-align:right;
}
